#heading {
    height: 60px;
    text-align: center;
    background-color: rgb(50, 62, 196);
    color:white;
}

#citySearch {
    width:250px;
    left: 0.5%;
    position:absolute;

}

#cityData {
    border-style: solid;
    width: 950px;
    height:145px;
    position: absolute;
    left: 38%;
    margin-left: -200px;
    top: 11%;
   
    

}

#searchBar {
    position: absolute;
    width: 295px;
    height:45px;
    top:17%;
    left: 0.5%;
}